### JAVA and Gradle ###
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

#### Other editors ###
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

### ENV FILES ###
.env.local
.env.*.local

### Other tools ###
**/node_modules/**
key.json
**/dist/**
**/target/**
